@{
    ViewData["Title"] = "My Projects";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="card mb-3" style="color:black;">
    <div class="card-body">
        This is some text within a card body.
    </div>
</div>
<div class="container text-center " style="color:black;">
    <div class="row">
        <div class="col">

        </div>
        <div class="col">

        </div>
        <div class="col">

        </div>
    </div>
</div>