html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    padding: 0.8rem 3rem;
    border-radius: 2rem;
}

body {
    background-color: #8FBC8F;
    color: #2F4F4F;
    padding: 0.8rem 3rem;
    border-radius: 2rem;
    overflow: hidden;
    width: 100%;
}
.navbar {
    padding: 0.8rem 3rem;
    border-radius: 2rem;
    background-color: gold;
      margin: 20px 10px 0px;
  padding: 0px 30px 0px 30px;
  text-align: center;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}